.profile {
  margin-bottom: 50px;
  display: flex;
}

.profile img {
  object-fit: contain;
}
.content {
  text-align: center;
  max-width: 800px;
  margin-top: 25px;
  font-weight: 500;
  line-height: 30px;
}

button {
  margin-top: 20px;
}
